@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/index.css">

<div class="home" style="height: 100vh;">
    <div class="text-container mt-5">
        <h4>Hello!</h3>
            <h1>I'm Rogel Gerodiaz</h1>
            <p>I am studying at <span class="yellow">Lyceum of Alabang </span>and my section is <span class="yellow">BSIT-32E1</span></p>

            <div class="contact">
                <h3 class="yellow mt-3 ml-3 text-lg-20 font-weight-bold cursor-pointer">
                    SOCIALS LINK
                </h3>
                <div class="d-flex gap-lg-4 gap-md-1 mt-2 mt-lg-4 ml-lg-1">
                    <a href="https://github.com/Rogel0" target="_blank" class="contact-icon">
                        <img src="~/github2.png" alt="Github" width="30" height="30" />
                    </a>
                    <a href="https://linkedin.com/in/yourusername" target="_blank" class="contact-icon">
                        <img src="~/linkedin.png" alt="LinkedIn" width="30" height="30" />
                    </a>
                    <a href="https://twitter.com/yourusername" target="_blank" class="contact-icon">
                        <img src="~/twiiter.png" alt="Twitter" width="30" height="30" />
                    </a>
                    <a href="https://facebook.com/yourusername" target="_blank" class="contact-icon">
                        <img src="~/facebook.png" alt="Facebook" width="30" height="30" />
                    </a>
                </div>
            </div>
    </div>


    @* <div class="home-image-container">
    <div class="image">
    <img src="~/my_image.png " alt="Rogel Gerodiaz" class="my_image">
    </div>
    </div> *@

</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
