@{
    ViewData["Title"] = "Schedule";
}

<link rel="stylesheet" type="text/css" href="~/css/schedule.css">

<div id='tools' class='d-flex align-items-center justify-content-center vh-100 text-white'>

    <div class='container-fluid mt-5'>
        <div class='row row-cols-5 g-3'>
            <div data-aos="flip-up" class="mb-1">
                <p class="day">MONDAY</p>
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #F5F3FF;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>5:00 PM - 6:30 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 217</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Capstone Project and Research 1</h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <p class="day">TUESDAY</p>
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #FFECFD;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>4:00 PM - 5:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 318</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Information Assurance and Security 1</h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <p class="day">WEDNESDAY</p>
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #F5F3FF;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>7:00 PM - 9:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">INT1</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Quantitative Methods <br><span class="fs-6">(Modelling & Simulation)</span></h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <p class="day">THURSDAY</p>
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECFFEE"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>10:00 PM - 12:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 318</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Panitikan</h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <p class="day">SATURDAY</p>
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECFFEE;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>7:00 PM - 10:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">INT1</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>IT Elective 3 <br><span class="fs-6">(FULL STACK)</span></h4>
                </div>
            </div>

            @* row#2 *@

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECFFEE;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>06:30 PM - 08:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 202</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Systems Integration & Architecture 1</h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #FFECEC;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>05:00 PM - 06:30 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 217</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Capstone Project and Research 1</h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECFFEE;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>&nbsp;&nbsp; <span class="text-danger fw-bold"></span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'></h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #FFECFD;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>12:00 PM - 02:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 318</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Information Assurance and Security 1</h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #F5F3FF;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>10:00 PM - 12:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 202</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>System Integration & Architecture 1</h4>
                </div>
            </div>

            @* row#3 *@
            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #FFECEC;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>8:00 PM - 9:30 PM &nbsp;&nbsp; <span class="text-danger fw-bold">INT1</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Quantitative Methods <br><span class="fs-6">(Modelling & Simulation)</span></h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECF4FF;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>06:30 PM - 08:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 202</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>System Integration & Architecture 1</h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #FFECEC;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute bottom-0 mb-2 text-center w-100 text-white text-lg fw-bold'></h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #FFECEC;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>01:00 PM - 03:00 PM &nbsp;&nbsp; <span class="text-danger fw-bold">INT1</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>IT Elective 3 <br><span class="fs-6">(FULL STACK)</span></h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #FFECEC;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute bottom-0 mb-2 text-center w-100 text-white text-lg fw-bold'></h4>
                </div>
            </div>

            @* row#4 *@
            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECF4FF;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute bottom-0 mb-2 text-center w-100 text-white text-lg fw-bold'></h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECFFEE;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>8:00 PM - 9:30 PM &nbsp;&nbsp; <span class="text-danger fw-bold">INT1</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Quantitative Methods <br><span class="fs-6">(Modelling & Simulation)</span></h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECF4FF;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute bottom-0 mb-2 text-center w-100 text-white text-lg fw-bold'></h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECF4FF;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute top-0 mb-2 mt-2 text-dark fs-6 fw-light'>05:00 PM - 06:30 PM &nbsp;&nbsp; <span class="text-danger fw-bold">RM 217</span></h4>
                    <h4 class='position-absolute top-10 mb-1 mt-4 text-center w-100 text-dark fs-5 fw-bold'>Capstone Project and Research 1</h4>
                </div>
            </div>

            <div data-aos="flip-up" class="mb-1">
                <div class='box rounded-lg d-flex flex-column align-items-center justify-content-center position-relative'
                    style="height: 127px; width: 235px; transition: transform .5s; cursor: pointer; background-color: #ECF4FF;"
                    onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
                    <h4 class='position-absolute bottom-0 mb-2 text-center w-100 text-white text-lg fw-bold'></h4>
                </div>
            </div>
        </div>
    </div>
</div>